INetSales.OnlineInterface/Web References/br.com.integratornet2/MobileService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ObterUrlDefaultInterfaceErp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterUrlDefaultInterfaceErpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObterUrlDefaultInterfaceErpResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryUrlAndroidPatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filterVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryUrlAndroidPatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TryUrlAndroidPatchResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="urlPatch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>