INetSales.OnlineInterface/Web References/br.com.integratornet2/MobileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MobileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://integratornet.com.br/inetsales_service/MobileService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://integratornet.com.br/inetsales_service/MobileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMobileService_ObterUrlDefaultInterfaceErp_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterUrlDefaultInterfaceErp" />
  </wsdl:message>
  <wsdl:message name="IMobileService_ObterUrlDefaultInterfaceErp_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterUrlDefaultInterfaceErpResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileService_TryUrlAndroidPatch_InputMessage">
    <wsdl:part name="parameters" element="tns:TryUrlAndroidPatch" />
  </wsdl:message>
  <wsdl:message name="IMobileService_TryUrlAndroidPatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryUrlAndroidPatchResponse" />
  </wsdl:message>
  <wsdl:portType name="IMobileService">
    <wsdl:operation name="ObterUrlDefaultInterfaceErp">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileService/ObterUrlDefaultInterfaceErp" message="tns:IMobileService_ObterUrlDefaultInterfaceErp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileService/ObterUrlDefaultInterfaceErpResponse" message="tns:IMobileService_ObterUrlDefaultInterfaceErp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TryUrlAndroidPatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileService/TryUrlAndroidPatch" message="tns:IMobileService_TryUrlAndroidPatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileService/TryUrlAndroidPatchResponse" message="tns:IMobileService_TryUrlAndroidPatch_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMobileService" type="tns:IMobileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObterUrlDefaultInterfaceErp">
      <soap:operation soapAction="http://tempuri.org/IMobileService/ObterUrlDefaultInterfaceErp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TryUrlAndroidPatch">
      <soap:operation soapAction="http://tempuri.org/IMobileService/TryUrlAndroidPatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MobileService">
    <wsdl:port name="BasicHttpBinding_IMobileService" binding="tns:BasicHttpBinding_IMobileService">
      <soap:address location="http://integratornet.com.br/inetsales_service/MobileService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>