INetSales.OnlineInterface/Web References/br.com.integratornet/packageservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TryGetUrlAndroidPackage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lastVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TryGetUrlAndroidPackageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TryGetUrlAndroidPackageResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="urlPackage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TryGetUrlAndroidPackageSoapIn">
    <wsdl:part name="parameters" element="tns:TryGetUrlAndroidPackage" />
  </wsdl:message>
  <wsdl:message name="TryGetUrlAndroidPackageSoapOut">
    <wsdl:part name="parameters" element="tns:TryGetUrlAndroidPackageResponse" />
  </wsdl:message>
  <wsdl:portType name="PackageServiceSoap">
    <wsdl:operation name="TryGetUrlAndroidPackage">
      <wsdl:input message="tns:TryGetUrlAndroidPackageSoapIn" />
      <wsdl:output message="tns:TryGetUrlAndroidPackageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PackageServiceSoap" type="tns:PackageServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TryGetUrlAndroidPackage">
      <soap:operation soapAction="http://tempuri.org/TryGetUrlAndroidPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PackageServiceSoap12" type="tns:PackageServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TryGetUrlAndroidPackage">
      <soap12:operation soapAction="http://tempuri.org/TryGetUrlAndroidPackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PackageService">
    <wsdl:port name="PackageServiceSoap" binding="tns:PackageServiceSoap">
      <soap:address location="http://integratornet.com.br/inetsales/packageservice.asmx" />
    </wsdl:port>
    <wsdl:port name="PackageServiceSoap12" binding="tns:PackageServiceSoap12">
      <soap12:address location="http://integratornet.com.br/inetsales/packageservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>